<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberInfo">

	<select id="view" resultType="yh.mypage.controller.ChefDto"
		parameterType="yh.mypage.controller.ChefDto">

		select nickname, member_id, picture, level
		from members
		where member_id = #{member_id}
	</select>

	<select id="chefview" resultType="yh.mypage.controller.ChefDto"
		parameterType="yh.mypage.controller.ChefDto">
		select nickname ,member_id, picture, level, tel,
		sns_address
		from members inner join chef on member_id = chef
		where
		member_id = #{member_id}
	</select>

	<select id="chef" parameterType="String"
		resultType="yh.mypage.controller.ChefDto">
		select * from chef inner join member on member_id = chef
		where member_id = #{member_id}
	</select>

	<insert id="submit"
		parameterType="yh.mypage.controller.Chef_applyDto">
		insert into Chef_apply
		values
		(#{member_id},#{sns_address}, #{tel},#{content})
	</insert>

	<update id="memupdate"
		parameterType="yh.mypage.controller.MemberInfoDto">
		update members set nickname=#{nickname} where
		member_id=
		#{member_id}
	</update>

	<update id="chefupdate"
		parameterType="yh.mypage.controller.ChefDto">
		update chef set tel=#{tel}, sns_address = #{sns_address}
		where chef = #{chef}
	</update>

	<select id="checkPwd"
		parameterType="yh.mypage.controller.MemberInfoDto">
		select password from members
	</select>

	<delete id="delete" parameterType="String">
		delete from members where
		member_id = #{member_id}
	</delete>

	<update id="changePwd" parameterType="map">
		update members
		set password = #{pwdcheck1}
		where
		member_id = #{member_id}
	</update>
	<update id="chefchangePwd" parameterType="map">
		update members m inner join
		chef c
		on m.member_id = c.chef
		set password = #{pwdcheck1}
		where
		m.member_id = #{member_id} and c.chef= #{member_id}
	</update>

	<select id="pwd" parameterType="string" resultType="string">
		select
		password from members where member_id = #{member_id}
	</select>

	<select id="chefpwd" parameterType="String" resultType="String">
		select
		password
		from members m inner join chef c
		where m.member_id =
		#{member_id} and c.chef= #{member_id}
	</select>

</mapper>