<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

	<select id="allMember" resultType="hn.user.model.MemberDto">
		select * from members
	</select>
	
	<!-- 회원가입 -->
	<insert id="insert" parameterType="hn.user.model.LoginCommand">
		insert into members(member_id, password, nickname, picture, Level) values
		(#{member_id},
		#{password}, #{nickname}, 'pictureUrl', 1)
	</insert>
	
	<!-- 회원정보 수정 -->
	<update id="update" parameterType="hn.user.model.MemberDto">
		update members set
		password=#{password}, nickname=#{nickname} where
		member_id=#{member_id}
	</update>
	
	<!-- 비밀번호 찾기 랜덤값 생성 후 저장 -->
	<update id="updatePW" parameterType="hn.user.model.MemberDto">
		update members set
		password=#{password} where
		member_id=#{member_id}
	</update>

	<!-- 회원탈퇴 -->
	<delete id="delet" parameterType="String">
		delete from members where
		member_id=#{member_id}
	</delete>

	<!-- 아이디 중복 체크/회원체크 -->
	<select id="emChk" resultType="int"
		parameterType="hn.user.model.LoginCommand"> <!-- String -->
		select COUNT(*) from members where member_id=#{member_id}
	</select>

	<!-- 닉네임 중복 체크 -->
	<select id="nkChk" resultType="int"
		parameterType="hn.user.model.LoginCommand">
		select COUNT(*) from members where nickname=#{nickname}
	</select>

	<!-- 로그인 성공 -->
	<select id="loginOk" resultType="hn.user.model.MemberDto"
		parameterType="hn.user.model.LoginCommand">
		select member_id,password,level from members where
		member_id=#{member_id}
		and password=#{password}
	</select>
</mapper>