@charset "utf-8";


	.field1>ul {
    height: 270px;
    border: 1px solid #a73f40;
    background: #fff;
    float: left;
    overflow-x: hidden;
    overflow-y: visible;
}

.view{
    width:300px;
	height:250px;
	overflow: hidden;
}
.scrollBlind{
	height:100%;
	overflow-y:scroll;
} 

}
.big_sort {
    width: 190px;
    margin-right: 9px;
    box-sizing: border-box;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.small_sort {
    width: 396px;
    height: 270px;
    float: left;
    padding: 10px 13px;
    box-sizing: border-box;
    font-family: Microsoft YaHei,'NS';
    box-sizing: border-box;
}

div#glayLayer{
	display:none;
	position:fixed;
	left:0;
	top:0;
	height:100%;
	width:100%;
	background:black;
	filter:alpha(opacity=60);
	opacity: 0.60;
}
* html div#glayLayer{
	position:absolute;
}
#overLayer{
	display:none;
	position: fixed;
	top:50%;
	left:50%;
	margin-top:-244px;
	margin-left:-325px;
}
* html #overLayer{
	position: absolute;
}
.float {
float:left;
}

.first, .second, .third, .last{
	text-align:left;
}

.navi button{
float: left;
}
.c button 
{width:25%}
ul li {
	list-style-type:none;
}

.menu_over{
	clear: both;
    border-bottom: 1px solid #adadad;
    position: absolute;
    top: 300px;
    left:4em;
    right:4em;
    background-color: rgba(255,255,255,0.95);
    z-index: 30;
   
}

.posts article{
	cursor:pointer;
}

@font-face {
	font-family: 'Cafe24Oneprettynight';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

#main *{
	font-family:'Cafe24Oneprettynight';
}