<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="customer">

	<insert id="insert" parameterType="yh.mypage.controller.MemberInfoDto">
		insert into Members m, Chef c (nickname,member_id,tel,sns_adress) values(
	m.nickname = #{nickname}, m.member_id = #{member_id}, c.tel = #{tel}, c.sns_adress = #{sns_adress}
		)
	</insert>

	<select id="view" resultType="yh.mypage.controller.MemberInfoDto">
		select * from QnA where num =
		#{num}
	</select>

	<update id="update">
		update QnA set subject = #{subject}, content =
		#{content}, member_id = 'admin123@kitchen.com',
		reg_date = #{reg_date},secret = #{secret} where num = #{num}
	</update>

	<delete id="delete">
		delete from QnA where num = #{num}
	</delete>

</mapper>